{{define "root"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="generator" content="Bla {{ .Server.Version }}" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>{{ template "title" . }}</title>
        {{range $path := .Server.StaticFiles}}
        {{with $pathExt := $path | ext }}
                {{ if eq $pathExt ".css"}}
                <link rel="stylesheet" href="{{ join $.Cfg.BasePath "asset"}}/{{$path | base}}">
                {{end}}
                {{ if eq $pathExt ".js"}}
                <script src="{{ join $.Cfg.BasePath "asset"}}/{{$path | base}}"></script>
                {{end}}
            {{end}}
        {{end}} 
    </head>
    <body>
    <div id="topbar">
        <div class="container">
            <h1><a href="{{ .Cfg.BasePath }}">{{ .Cfg.Title }}</a></h1>
            <form onsubmit="return dispatch()">
                <input id="q" placeholder="Search" type='text'></input>
            </form>
        </div>
    </div>
    
    <div class="container" id="articles">
        {{ template "sidebar" . }}
        {{ template "content" . }}
    </div>
    <div id="footer">
        {{ template "footer" . }}
    </div>
    <script>
    function dispatch() {
        var q = document.getElementById("q");
        if (q.value != "") {
            var url = 'http://www.google.com/search?q=site:{{.Cfg.BaseURL | extractHost }}%20' + q.value;
                if (navigator.userAgent.indexOf('iPad') > -1 || navigator.userAgent.indexOf('iPhone') > -1 || navigator.userAgent.indexOf('iPhone') > -1) {
                            location.href = url;
                        } else {
                            window.open(url, "_blank");
                        }
                return false;
            } else {
                return false;
            }
    }
    </script>
    </body>
</html>
{{end}}

{{define "doc"}}
<div itemscope itemtype="http://schema.org/Article"  class="article" >
    {{ with .Parsed.Find "body" }}{{ .Html }}{{end}}
    {{ $rl := len .Related }}
    {{if gt $rl 0}}
    <h4 class='related_header'>Related article</h4>
        <ul>
        {{range $index, $doc := .Related }}
            {{ if lt $index 10 }}
            <li><a id="{{ $index }}" href="{{ $doc.Path }}" class="related">{{ $doc.Title }}</a></li>
            {{ end }}
        {{end}}
        </ul>
    {{ end }} 
</div>
{{end}}

{{define "shortdoc"}}
<div class="article">
{{ with .Parsed.Find "body" }}{{ .Html }}{{end}}
</div>
{{end}}

{{define "footer"}}
<p>{{.Cfg.Footer}} | powered by <a href="https://github.com/mengzhuo/bla">Bla</a></p>
{{ end }}


{{define "sidebar" }}
{{end}}

{{define "editor"}}
<script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
<script type="text/javascript">
window.onload = function(){
tinymce.init({
    selector: ".article",
    inline: true,
    browser_spellcheck : true,
    style_formats: [{title:"Tag", inline:"span", classes:"tag"}, 
                    {title:"code<>", inline:"code"},
                    {title:"h3", inline:"h3"},
                    ],
    plugins: [
        "advlist autolink lists link image charmap anchor",
        "searchreplace visualblocks code",
        "insertdatetime media table contextmenu paste"
    ],
    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
};
</script>
{{end}}
